<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guohe.ltsyandroid">

    <!--高德地图所需权限-->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--录音所需权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".CustomeApplication"
        android:theme="@style/AppNoActionbarTheme">

        <!--<activity android:name=".view.DebugActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="Debug界面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"/>

        <activity android:name=".view.PhotoDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.PhotoCollectionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.AddPhotoActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:label="添加作品"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.SettingActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:label="设置"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.PhotoExifActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="图片详情"/>

        <activity android:name=".view.AddPhotoAddressActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="拍摄地点"/>

        <activity android:name=".view.CommentActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="评论"/>

        <activity android:name=".view.EditPhotoCollectionActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="编辑图集"/>

        <activity android:name=".view.PersonalPhotoActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="个人作品"/>

        <activity android:name=".view.PersonalCollectionActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="个人图集"/>

        <activity android:name=".view.MyFavoriteActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="我的收藏"/>

        <activity android:name=".view.MyFollowedActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="我的关注"/>

        <activity android:name=".view.FollowdMeActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="关注我的"/>

        <activity android:name=".view.PersonalPageActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="个人主页"/>

        <activity android:name=".view.FeedbackActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="意见反馈"/>

        <activity android:name=".view.AddSecretActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="藏悄悄话"/>

        <activity android:name=".view.LoginActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="登录"/>

        <activity android:name=".view.SetUserInfoActivity"
            android:theme="@style/AppCanSlidrTheme"
            android:screenOrientation="portrait"
            android:label="基础信息"/>

        <activity android:name=".view.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionbarTheme"/>

        <activity android:name=".view.square.PhotoDetailActivity"
            android:screenOrientation="portrait"/>

        <!--高德地图-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="34a05e779c0571897e8000363f8e68d2">
            //开发者申请的key
        </meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>